
<style>

.addgrant {
    background-color: rgba(250,250,250,0.3);
    padding: 30px;
    text-align: center;
}

.addgrant .container {
    max-width: 600px;
}

</style>
<span class="moderatorHolder">
  <div class="custom">
    {{#link-to 'index'}}<button class='btn btn-primary left'><i class='fa fa-bars fa-fw'></i>&nbsp;Menu</button>{{/link-to}}
    {{#link-to 'institution.detail.analytics' institution}}<button class='btn btn-primary right'><i class='fa fa-bar-chart fa-fw'></i>&nbsp;Analytics</button>{{/link-to}}
    {{#link-to 'institution.detail.create' institution}}<button class='btn btn-primary right'><i class='fa fa-institution fa-fw'></i>&nbsp;Create Grant</button>{{/link-to}}
    {{#link-to 'institution.detail' institution}}<button class='btn btn-primary right'><i class='fa fa-globe fa-fw'></i>&nbsp;Overview</button>{{/link-to}}
    <h1>Institution Overview</h1>
  </div>
{{bread-crumbs}}
</span>
<div class='addgrant'>
    <div class='container'>
        <h2>Assign a PR to grant {{grant.number}}</h2>
        <input class='form-control input-lg' value={{grant_pi}} onchange={{action (mut grant_pi) value='target.value'}} placeholder='Principal Investigator'>
        <br>
        <button type='button' class='btn btn-primary btn-lg button-pos' {{action 'assignGrant' grant grant_pi}}>Assign</button>
    </div>
</div>
