<style>
.visor {
    background-color: rgba(250,250,250,0.3);
    padding: 30px;
    text-align: center;
}
.visor .container {
    max-width: 600px;
}
.visor .container p {
    text-align: justify;
}
</style>
<span class="moderatorHolder">
  <div class="custom">
    {{#link-to 'index'}}<button class='btn btn-primary left'><i class='fa fa-bars fa-fw'></i>&nbsp;Menu</button>{{/link-to}}
    {{#link-to 'institution.detail.analytics' institution}}<button class='btn btn-primary right'><i class='fa fa-bar-chart fa-fw'></i>&nbsp;Analytics</button>{{/link-to}}
    {{#link-to 'institution.detail.create' institution}}<button class='btn btn-primary right'><i class='fa fa-institution fa-fw'></i>&nbsp;Create Grant</button>{{/link-to}}
    {{#link-to 'institution.detail' institution}}<button class='btn btn-primary right'><i class='fa fa-globe fa-fw'></i>&nbsp;Overview</button>{{/link-to}}
    <h1>Institution Overview</h1>
  </div>
{{bread-crumbs}}
</span>
<div class='visor'>
    <div class='container'>
        <p>Select an institution from the dropdown to coordinate for. If the desired institution is not listed, then the currently logged in user does not have the required permissions to coordinate for that institution.</p>
        <br>
        <select class="institutionSelect form-control input-lg select" onchange={{action (mut institutionId) value="target.value"}}>
            <option>Select An Institution</option>
            {{#each institutions as |institution|}}
                <option selected={{eq activeInstitution institution}} value={{institution.id}}>{{institution.name}}</option>
            {{/each}}
        </select>
        <br>
        {{#link-to 'institution.detail' institutionId class='btn btn-primary btn-lg button-pos'}}
            <!--<button type='button' class='btn btn-primary btn-lg button-pos'>View Grants</button>-->
            VIEW GRANTS
        {{/link-to}}
<!--
        <br>
        <p>If the currently logged in user does not have the correct permissions, he or she may request those permissions from the Institution's administration. Select the Institution to make the request to below and press 'Send Request'.</p>
        <select class="institutionSelect form-control input-lg select" onchange={{action (mut institutionId) value="target.value"}}>
            <option>Select An Institution</option>
            {{#each institutions as |institution|}}
                <option selected={{eq activeInstitution institution}} value={{institution}}>{{institution.name}}</option>
            {{/each}}
        </select>
        <br>
-->
    </div>
</div>
