

<style>

.addgrant {
    background-color: rgba(250,250,250,0.3);
    padding: 30px;
    text-align: center;
}

.addgrant .container {
    max-width: 600px;
}

</style>

<span class="moderatorHolder">
    {{#link-to 'agency.detail.settings' agency tagName="span"}}
        <button class=" btn btn-default admin-settings-button"><i class="fa fa-cog" aria-hidden="true"></i> Settings</button>
    {{/link-to}}
    <div class="custom">
        {{#link-to 'index'}}<button class='btn btn-primary left'><i class='fa fa-bars fa-fw'></i>&nbsp;Menu</button>{{/link-to}}
        {{#link-to 'agency.detail.settings.metadata' agency}}<button class='btn btn-primary right'><i class='fa fa-cog fa-fw'></i>&nbsp;Settings</button>{{/link-to}}
        {{#link-to 'agency.detail.analytics' agency}}<button class='btn btn-primary right'><i class='fa fa-bar-chart fa-fw'></i>&nbsp;Analytics</button>{{/link-to}}
        {{#link-to 'agency.detail.create' agency}}<button class='btn btn-primary right'><i class='fa fa-institution fa-fw'></i>&nbsp;Create Grant</button>{{/link-to}}
        {{#link-to 'agency.detail' agency}}<button class='btn btn-primary right'><i class='fa fa-globe fa-fw'></i>&nbsp;Overview</button>{{/link-to}}
        <h1>Agency Administration</h1>
    </div>
</span><div class='addgrant'>
    <div class='container'>
    <select class="institutionSelect form-control input-lg select" onchange={{action (mut institutionId) value="target.value"}}>
        <option>Select an Institution</option>
        {{#each institutions as |inst|}}
            <option selected={{eq inst institutionChoice}} value={{inst}}>{{inst.name}}</option>
        {{/each}}
    </select>
    <br>
    <input class='form-control input-lg' value={{grant_number}} onchange={{action (mut grant_number) value='target.value'}} placeholder='Grant Number'>
    <br>
    <button type='button' class='btn btn-primary btn-lg button-pos' {{action 'addGrant' agencyId grant_number grant_pi institutionId}}>Add this grant</button>
    </div>
</div>

