{{yield}}
<div class="form-table">


  <div class="dropdownHolder">
    <select class="departmentSelect select" onchange={{action "selectDepartment" value="target.value"}}>
      {{#each model.departments as |departmentChoice|}}
        <option selected={{eq department departmentChoice}} value={{departmentChoice}}>{{departmentChoice.name}}</option>
      {{/each}}
    </select>
    {{input type="text" name="department" class="grantNumber" on="key-press" action="updateGrantNumber" placeholder="Grant Number"}}
  </div>

  {{file-chooser}}
  {{file-renderer}}

   <button class="btn btn-primary btn-lg btn-block metaData"  {{action "validateForm"}} > Next </button>

</div>
