{{yield}}

<div class='container tools'>
    <div class='col-md-6 add-grant'>
        <h2>Add a grant</h2>
        <select class="departmentSelect input-lg select" onchange={{action (mut departmentId) value="target.value"}}>
            <option>Select a Department</option>
            {{#each departments as |departmentChoice|}}
              <option selected={{eq department departmentChoice}} value={{departmentChoice.id}}>{{departmentChoice.name}}</option>
            {{/each}}
        </select>
        <input class='input input-lg' value={{grant_number}} onchange={{action (mut grant_number) value='target.value'}} placeholder='Grant Number'>
        <input class='input input-lg' value={{grant_pi}} onchange={{action (mut grant_pi) value='target.value'}} placeholder='Principal Investigator'>
        <button type='button' class='btn btn-primary' {{action 'createGrantHook' departmentId grant_number grant_pi}}>Add a grant</button>
    </div>
</div>

<div class="department-header">

<table class="table table-bordered table-hover">
    
    <thead class="thead-default thead-grants">
        <tr>
            <th class="thead-default-tr-th grant-number-header">Grant Number</th>
            <th class="thead-default-tr-th">Granting Agency</th>
            <th class="thead-default-tr-th">Title</th>
            <th class="thead-default-tr-th">PI</th>
            <th class="thead-default-tr-th">Status</th>
            <th ></th>
        </tr>
    </thead>

    <tbody>
    {{#each model as |grant|}}
        <tr>
            <td>{{grant.number}}</td>
            <td>{{grant.department.name}}</td>
            <td>unknown</td>
            <td>{{grant.pi}}</td>
            <td>
                <select class="departmentSelect select-picker" onchange={{action (mut departmentId) value="target.value"}}>
                    <option>New</option>
                    <option>Awaiting Researcher Response</option>
                    <option>Awaiting Approval</option>
                    <option>Submitted</option>
                </select>
            </td>
            <td><button type='button' class="btn btn-primary" {{action 'moreInfo' this}}>More</button></td>
        </tr>
        <!--<tr><td colspan='6'><table>
            <tr>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table></td></tr>-->
    {{else}}
<tr><td colspan='7' class='No-documents-error'>
            <h2>This institution has not been associated with any grants yet.</h2>
            <p>To associate a grant with this institution, select the department that awarded the grant, enter a grant number, then select the principal investigator in the toolbar above. When the information is correct, press the 'Add a grant' button to associate the grant with the institution. The grant will appear in this table.</p>
        </td></tr>
    {{/each}}
    </tbody>
 </table>


</div>
