





<tr>
    <td>{{grant.number}}</td>
    <td>{{grant.document.name}}</td>
    <td>{{grant.document.pi}}</td>
    <td>{{grant.department}}</td>
    <td>{{grant.status}}</td>
    <td><button type='button' class="btn btn-primary" {{action 'moreInfo' this}}>More</button></td>
</tr>
