
<div class="document" data-item={{grant.status}}>

    <div class="less-info">
      <i class="fa fa-file-text" aria-hidden="true"></i>
        <span class="grant-number"><input size="9" type="text" name="grant-number" value={{grant.number}} readonly="readonly"></span>
        <span class="pi"><input size="10" type="text" name="pi" value={{this.pi}} readonly="readonly"></span>
        <span class="date-submitted"><input size="11" type="text" name="date-submitted" value={{grant.document.datesubmitted}} readonly="readonly"></span>
        <span class="date-published"><input size="11" type="text" name="date-published" value={{this.datepublished}} readonly="readonly"></span>
        <span class="pi-email"><input size="15" type="text" name="pi-email" value={{this.piemail}} readonly="readonly"></span>

    </div>


    <ul class="action-buttons">
        <li class='more-info-button' {{action "moreInfo" this}}>More Info<span class="caret"></span></li>
        <li class='view-document-button' {{action "viewDocument" this}}>View Document<span class="caret"></span></li>
        <a href={{get-download grant.document.path}} target="_top" >Download</a>
    </ul>

    <div class='more-info'>
      <div class='more-info-buttons'>
       <table>
         <tbody class="more-info-content">
          <tr>
            <th scope="row">
                      Status
            </th>
            <td class=" " colspan="2">
                <span class="btn-warning">Unread</span>
                <span style="margin-left:300px;">
                  <button type="button" class="btn btn-success" {{action "setDocumentStatus" ".read" "#5cb85c" "btn-success"}}>Read</button>
                  <button type="button" class="btn btn-warning" {{action "setDocumentStatus" ".unread" "#eea236" "btn-warning"}}>Unread</button>
                  <button type="button" class="btn btn-primary" {{action "setDocumentStatus" ".archived" "#337ab7" "btn-primary"}}>Archive</button>
                </span>

            </td>

          </tr>
            <tr>
            <th scope="row">
              File API
            </th>
            <td class=" " colspan="2">
              <a href={{get-api grant.document.id}} target="_blank">View File API</a>

            </td>
          </tr>
         </tbody>
       </table>
      </div>


    </div>

      <span class='view-document'>

          {{file-renderer download=(get-download grant.document.path)}}
      </span>


</div>