{{yield}}
<div class="form-table">


  <div class="dropdownHolder">
    <select class="departmentSelect select" onchange={{action "selectDepartment" value="target.value"}}>
      {{#each model.departments as |departmentChoice|}}
        <option selected={{eq department departmentChoice}} value={{departmentChoice}}>{{departmentChoice.name}}</option>
      {{/each}}
    </select>
    {{input value=grantNumber class="form-control" id="grantid" placeholder="Grant Number"}}
  </div>

  <button class="btn btn-success addFunding" {{action "submit"}}>Add More Funding</button>

   {{file-chooser files=fileList}}

   <button class="btn btn-primary btn-lg btn-block metaData"  {{action "testsubmit" fileList}} > Next </button>

</div>
